.dividerLine {
    border-bottom: 1px solid var(--dividerLine-color);
    margin: 3rem;
}

.dividerThiccRed {
    width: 100%;
    height: 0.5rem;
    display: flex;
    justify-content: center;
    margin: 1rem 0 5rem 0;

    .dividerInnerBlock {
        width: 4rem;
        height: 100%;
        background-color: var(--dividerThiccRed-bgColor);
    }
}